{% extends 'base.html' %}

{% block content %}

<h2> Parks</h2>
<p> <a href='/parks'>View all Parks</a></p>

<!-- 
<h2> Locate Park </h2>
<form action="/locatepark">
	<label> Please Enter Zipcode </label>
	<input type = "text" name = "zipcode" pattern="[0-9]{5}">
	<br>
	<br>
	<input type="submit"  value = "submit">
</form><br><br> -->


<form action="/register">
	<input type="submit" value="Sign Up Here">
</form>

{% if session %}
<form action="/logout">
	<input type="submit" value="Logout">
</form>

{% else %}
<form action="/login">
	<input type="submit" value="Login">
</form>
{% endif %}


{% endblock %}