{% extends 'base.html' %}

{% block title %}Locate Park {% endblock %}

{% block content %}
<div class="locate">
	<ul>
		{% if locatepark %}
		{% for park in locatepark %}<br>
		<li > {{ park.parkname}} {{ park.location }}

			<a href= {{ park.park_id }}> View Map </a>
		 </li>
		{% endfor %}
	</ul>

	<ul>
		{% else %}
		<h2>Suggestions for near by park</h2>
		{% for park in zipcode_list %}<br>
		<li>{{ park[0].parkname }} {{ park[0].location }} {{ park[0].zipcode }}
			<a href= {{ park[0].park_id }}> View Map</a>
		</li>
		{% endfor %}
		{% endif %}


	</ul>


</div>




{% endblock %}