{% extends 'base.html' %}

{% block title %}Locate Park {% endblock %}

{% block content %}
	<ul>
		{% if locatepark %}
		{% for park in locatepark %}<br>
		<li > {{ park.parkname}} {{ park.location }}

			<a href= {{ park.park_id }}> View Map </a>
		 </li>
		{% endfor %}
	</ul>

	<ul>
		{% else %}
		<h2>Suggestions for near by park</h2>
		{% for park in zipcode_list %}<br>
		<li>{{ park[0].parkname }} {{ park[0].location }} {{ park[0].zipcode }}
			<a href= {{ park[0].park_id }}> View Map</a>
		</li>
		{% endfor %}
		{% endif %}


	</ul>
	<div id="map"></div>

	<style type="text/css">
		html, body { height: 100%; margin: 0; padding: 0; }
		#map { height: 100%; }
	</style>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA36jAyNnRFdeH8dWD_yaqNHqXQq7wVcWo">
     </script>
	<script>
		"use strict";

		let parkList = [];
		fetch('/locate_park')
		.then(function(response){
			return response.text(); 
		}).then(function(result) {
			let mapattr = JSON.parse(result);
			let mapCoordinates = {};
			let coordinates = mapattr.coordinates;
			let length = coordinates.length;
			for (let i =0; i<1; i++) {
				mapCoordinates = {
					position: {
						lat: parseFloat(mapattr.coordinates[i].lat),
						lng : parseFloat(mapattr.coordinates[i].lng)						
					},
					title : mapattr.coordinates[i].name,
				};
			parkList.push(mapCoordinates);
			}
			parkList.forEach(function(element) {
				let marker = new google.maps.Marker ({
					position : element.position,
					title : element.name,
					map: map
				});
			});
		});
		
	</script>







{% endblock %}