{% extends 'base.html' %}
{% block title %}Park Info{% endblock %}
{% block content %}
<style type="text/css">
  html { overflow-y: hidden}
</style>
<div class = "container-fluid" style="height:950px">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <style>
            .register-box {

            margin-top: 2rem;
            background-color: #e03545;
            border-color: coral;
            color:#0e4121;
            padding: 20px;
            border: white;
            border-width: medium;
           border: 2px solid #A43C4C;

        }
                h3{
          color:darkblue;
          font-family: cursive;
        }
        .stars {
          /* remove inline-block whitespace */
          font-size: 0;
          /* flip the order so we can use the + and ~ combinators */
          unicode-bidi: bidi-override;
          direction: rtl;
          /* the hidden clearer */
        }
        .stars * {
          font-size: 2rem;
        }
        .stars > input {
          display: none;
        }
        .stars > input + label {
          /* only enough room for the star */
          display: inline-block;
          width: 1em;
          white-space: nowrap;
          cursor: pointer;
        }
        .stars > input + label:before {
          display: inline-block;
          content: "☆";
          color: #888;
        }
        .stars > input:checked ~ label:before, .stars > input + label:hover ~ label:before, .stars > input + label:hover:before {
          content: "★";
          color: darkblue;
          text-shadow: 0 0 1px #333;
        }
        .stars > .stars-clear + label {
          width: .5em;
          margin-left: -.5em;
        }
        .stars > .stars-clear + label:before {
          width: .5em;
        }
        .stars:hover > input + label:before {
          content: "☆";
          color: darkgreen;
          text-shadow: none;
        }
        .stars:hover > input + label:hover ~ label:before, .stars:hover > input + label:hover:before {
          content: "★";
          color: yellow;
          text-shadow: 0 0 1px #333;
        }
        button,input{
          background-color: gold;
        }
    </style>
<div class="col-5 register-box rounded mx-auto">

<h2> {{ park.parkname}}</h2>

<h4> Rate for cleanliness</h4>
<form action="/parks/{{ park.park_id }}/edit">
	<span class = "stars">
	<input type="radio" id="field-id-5" data-id="field-id" name="cleanscore" value="5" /><label for="field-id-5"></label>
	<input type="radio" id="field-id-4" data-id="field-id" name="cleanscore" value="4" /><label for="field-id-4"></label>
	<input type="radio" id="field-id-3" data-id="field-id" name="cleanscore" value="3" /><label for="field-id-3"></label>
	<input  type="radio" id="field-id-2" data-id="field-id" name="cleanscore" value="2" /><label for="field-id-2"></label>
	<input type="radio" id="field-id-1" data-id="field-id" name="cleanscore" value="1" /><label for="field-id-1"></label>

</span>


<h4> Rate for availablitiy of Play equipments </h4>


	<span class = "stars">
	<input type="radio" id="field-id-5-1" data-id="field-id" name="equipscore" value="5" /><label for="field-id-5-1"></label>
	<input type="radio" id="field-id-4-1" data-id="field-id" name="equipscore" value="4" /><label for="field-id-4-1"></label>
	<input type="radio" id="field-id-3-1" data-id="field-id" name="equipscore" value="3" /><label for="field-id-3-1"></label>
	<input  type="radio" id="field-id-2-1" data-id="field-id" name="equipscore" value="2" /><label for="field-id-2-1"></label>
	<input type="radio" id="field-id-1-1" data-id="field-id" name="equipscore" value="1" /><label for="field-id-1-1"></label>

</span>

<h4> Rate for Maintainence</h4>


	<span class = "stars">
	<input type="radio" id="field-id-5-2" data-id="field-id" name="maintainscore" value="5" /><label for="field-id-5-2"></label>
	<input type="radio" id="field-id-4-2" data-id="field-id" name="maintainscore" value="4" /><label for="field-id-4-2"></label>
	<input type="radio" id="field-id-3-2" data-id="field-id" name="maintainscore" value="3" /><label for="field-id-3-2"></label>
	<input  type="radio" id="field-id-2-2" data-id="field-id" name="maintainscore" value="2" /><label for="field-id-2-2"></label>
	<input type="radio" id="field-id-1-2" data-id="field-id" name="maintainscore" value="1" /><label for="field-id-1-2"></label>

</span>
	<br><br><center>
	<input type="submit" value="Submit"></center>
</form>


</div>
</div>

{% endblock %}