{% extends 'base.html' %}

{% block title %}Parks{% endblock %}

{% block content %}



<h3>Parks</h3>
<h3> Click Link To Rate A Park</h3>

<ul>
	{% for zipcode in zipcodes %}
	<h4><b>{{ zipcode}}</b></h4>
	{% for park in parks %}
	{% if park.zipcode == zipcode %} <br>
	<li> <a href="{{ park.park_id }}">{{ park.parkname }} {% if park.scores %} {{ park.scores[0].rating| float }} {{ park.scores[0].reviews  }} {% endif %}</a>
	</li>
	{% endif %}
	{% endfor %}
	{% endfor %}



</ul>




{% endblock %}
