{% extends 'base.html' %}

{% block title %}Parks{% endblock %}

{% block content %}
<div class = "container-fluid" style="height:1000px">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.checked {
    color: orange;
}
</style>

<h3>Parks</h3>
<h3> Click Link To Rate A Park</h3>
<div class="col-4">
<ul class="list-group">
	{% for zipcode in zipcodes %}
	<h4><b>{{ zipcode}}</b></h4>
	{% for park in parks %}
	{% if park.zipcode == zipcode %} <br>
	<li class="list-group-item"> <a href="/parks/{{ park.park_id }}">{{ park.parkname }}</a>{% if park.scores %} {% for i in range (park.scores[0].rating | int) %}<span class="fa fa-star checked"></span> {% endfor %}
 {{ park.scores[0].reviews  }} reviews {% endif %}
	</li>
	{% endif %}
	{% endfor %}
	{% endfor %}



</ul>


</div>
</div>

{% endblock %}
