{% extends "base.html" %}

{% block content %}
<style type="text/css">
html { overflow-y: hidden}
	.btn-primary {
    /* color: #fff; */
    background-color: #d600bcbd;
    border-color: #25a51c;
    margin: auto;
}
</style>
<div class = "container-fluid" style="height:950px">

<br><br>

<div class= "col-4 mx-auto" >
	<h3>Register Form </h3><br><br>

<form action="/register", method='POST'>
	<div class="form-group">
		<label for="exampleFormControlInput1">Username</label>
		<input type="text" name="username" class="form-control" id="exampleFormControlInput1" placeholder="Username"
  		 pattern="[a-z]{1,15}"
        title="Username should only contain lowercase letters.">
    </div>
	
	<div class="form-group">
		<label for="exampleFormControlInput1" >Email</label>
		<input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
	</div>

	<div class="form-group">
		<label for="exampleFormControlInput1" >Password </label>
		<input type="password" name="password1"  class="form-control" id="exampleFormControlInput1" placeholder="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
	</div>

	<div class="form-group">
		<label for="exampleFormControlInput1" >Confirm Password </label>
		<input type="password" name="password2"  class="form-control" id="exampleFormControlInput1" placeholder="Re-type password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
	</div>

	<div class="form-group">
		<label for="exampleFormControlInput1">Zipcode </label>
		<input type="text" name="zipcode" class="form-control" id="exampleFormControlInput1" placeholder="zipcode" >
<br><br>
			<center><button type="submit" value="submit" class="btn btn-primary ">Submit</button></center>


</form>
</div>
</div>
{% endblock %}

