{% extends "base.html" %}

{% block content %}

<br><br>

<form action="/register", method='POST'>
	<label>Username</label>
	<input type="text" name="username"  pattern="[a-z]{1,15}"
        title="Username should only contain lowercase letters."><br><br>
	
	<label>Email</label>
	<input type="email" name="email"><br><br>

	<label>Password </label>
	<input type="password" name="password1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"><br><br>

	<label>Confirm Password </label>
	<input type="password" name="password2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"><br><br>
	<label>Zipcode </label>
	<input type="text" name="zipcode"><br><br>

	<input type="submit" value="submit">

</form>

{% endblock %}

