{% extends "base.html" %}

{% block content %}

<h4>Select Park By Zipcode</h4> 







<form id ="formDate">
	<h3> Choose Date</h3>
   <input type="date" id="date" data-format="DD-MM-YYYY ">
</form>
<br><br>

<div class="formTime">
 <select>
  <option value="09:00-10:00">09:00 - 10:00</option>
  <option value="10:00-11:00">10:00 - 11:00</option>
  <option value="11:00-12:00">11:00 - 12:00 </option>
  <option value="12:00-13:00">12:00 - 13:00</option>
  <option value="13:00-14:00">13:00 - 14:00</option>
  <option value="14:00-15:00">14:00 - 15:00</option>
  <option value="15:00-16:00">15:00 - 16:00</option>
  <option value="16:00-17:00">16:00 - 17:00</option>
  <option value="17:00-18:00">17:00 - 18:00</option>
  <option value="18:00-19:00">18:00 - 19:00</option>
  <option value="19:00-20:00">19:00 - 20:00</option>
</select><br><br>
<form> <input type = "submit" value="submit"></form>
</div>

{% endblock %}