{% extends "base.html" %}
{% block content %}


<h4> Search park by zipcode </h4>

<form id ="getInfo" method="get" action="/login.json">
	<label> Please Enter Zipcode </label>
	<input type = "text" id = "zipcode" name = "zipcode" pattern="[0-9]{5}">
	<br>
	<br>
	<input  type="submit"  value = "submit">
</form><br><br>

<div id ="result"></div>

<script src="http://code.jquery.com/jquery.js"></script>

<script type="text/javascript">
	"use strict";

let data;

function displayResult(results){
			data = results;
			$('#result').empty();
			let i=0;
			for (let result of results){
					$('#result').append(' '+result[0]+' '+result[1]+ '<pre class="tab"></pre>'+
					`<button id ="${i}" value="${result}" type ="button" onClick="displayContact(this)"> Contact Info</button>`+'<br>'+'<br>'+
						`<div id="${i}"><div>`);		


    		i++;
    		}
    	}
let displayContact= function(param){

	console.log($(`div#${param.id}`));

	let result = param.value;
	let id = parseInt(param.id);
	console.log(data[id][2]);


	$(`div#${param.id}`).html(data[id][2]);

}

	function sendZipcode(evt){
		evt.preventDefault();
		$.get("/login.json",{"zipcode" : $('#zipcode').val()},displayResult);
	}

			$("#getInfo").on("submit", sendZipcode);

</script>


{% endblock %}